		*{
			margin:0;
			padding:0;
			box-sizing:border-box;
		}

		body{
			font-size:18px;
			/*font-family: Arial;*/
			/*font-family: 'Poppins', sans-serif;*/
			font-family: 'Catamaran', sans-serif;
			font-weight:bold;
			height:100%;
			letter-spacing: 1px;
			color:#797979;
		}

		
/* ==== MENU CSS - START ==== */	
	
	/*HAMBURGER BAR & MENU - Start*/ 
	
		#my-logo{
			justify-content: center;
			margin:10px;
			text-align: right;
			width: 250px;
		}
		
		#my-logo-mobile{
			display: none;
			justify-content: center;
			margin:10px;
			text-align: right;
			width: 250px;
		}
		
		
		@media only screen and (max-width:1000px){
			#my-logo-mobile{
				display: block;
			}
		}
		
		/*@media only screen and (max-width:1000px){
			.menuItems > #my-logo-mobile{
				display: none;
			}
		]*/
		
		.nav{
			color:#fff;
			background-color:#00E4C5;
			letter-spacing: 2px;
			font-weight: bold;
		}			

		label{
			display: flex;
			display:none;
			font-size:30px;
			padding:25px;
			text-align: center;
		}
	
		@media only screen and (max-width:1000px){
			label{
				display: block;
				cursor: pointer;
			}
			#toggle:checked+ .container-menu{
				display: block;
			}
		}	
			
			
		#toggle{
			display:none;			
		}	
		
		.container-menu {
			width:100%;
			display: flex; /*tell to display flex*/
			/*flex-flow: row wrap; works like float*/
			justify-content: center;
			margin-left:auto;
		} 
		
			
		@media only screen and (max-width:1000px){
			.container-menu {
				display: none;
				background-color:#00E4C5;
				position: absolute;			
			}
		}	
		
		
		@media only screen and (max-width:1000px){
			.menuItems{
				display: flex;
			}
		}
		
		
		@media only screen and (max-width:1000px){
			#brand{
				display:none
			}
		}
		
		`.site-logo  {
			width: 250px !important;
		}
		
		/*#subItemNav{
			font-size:16px;
			padding:2px;
			letter-spacing:0;
		}*/
		
			
		a {
			text-decoration: none;
			color: #fff;
		}
			
		
		li {
			list-style: none;
			padding:25px;
			font-size:20px;
			justify-content:center;
			font-weight:bold;
		}

		
		p {
			font-weight: 400;
		}		
		
		.portfolio-ref{
			font-weight: 600;
		}
	
	/*HAMBURGER BAR & MENU - End*/ 
	
/* ==== MENU CSS - END ==== */

		.container {
			/*width:100%;*/
			display: flex; /*tell to display flex*/
			flex-wrap: wrap;/*wrap to next line if no more room on line*/
			justify-content: space-around;
			padding:20px;
			font-weight:600;
			flex-direction: row;			
		} 
			
		#mainContent{
			justify-content: space-evenly;
			flex-direction: row; /*row layout*/
		}
		
		
		@media only screen and (max-width:1000px){
			#mainContent{
				flex-wrap: wrap;/*wrap to next line if no more room on line*/
				flex-direction: column; /*change to column layout on 1000px*/
			}
		}
		
		.box{
			justify-content: space-evenly;
			text-align:center;
			background-color:#fff;
			padding:15px;
			flex:1;
		}
		
				
		#about{					
			background-color:#fff;
			padding:5px;
		}		

		.image{			
			width:30%;
			background-color:#fff;
			padding:2px;
			border-radius: 0px 0px 0px 0px;
		}	
		

		@media only screen and (max-width:1000px){
			.image{			
				background-color:#fff;
				width:90%;
				padding:5px;

			}
		}
		
		#myImage{
			box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
			/*max-width:100%;*/
		}
		
		@media only screen and (max-width:1000px){
			#myImage{			
				max-width:40%;
			}
		}
		
		#portfolio{
			flex:2;
		}
		
		@media only screen and (max-width:1000px){
			#portfolio{			
				background-color:#fff;
				flex:1;
			}
		}		

		#portfolioImage{
			width:100%;
		}
			
			@media only screen and (max-width:1000px){
			#portfolioImage{			
				max-width:70%;
			}
		}
		
		.portfolioLink{
			color: #797979;
			font-weight:bold;
		}
	
	
	.emailAddress{
		color: #0000ff;
	}
	
	/* Taken from BriteShop site	*/
	#productImage{
    width: 100%;
    /* height: 100%; */
    border-radius: 5px 5px 0px 0px; 
    object-fit: contain;
    margin-bottom: -6px;
	cursor:pointer;

}

	
		#ftr{
			font-weight:bold;
			background-color:#00E4C5;
			padding:20px;
			color: #fff;
		}
